body {
  background-color: #2c3a47;
  font-family: "Montserrat", sans-serif;
}

/* navbar */
.navbar {
  background-color: white;
  display: flex;
  padding: 1.17%;
}

/* form body and navbar*/
.whole-content {
  padding: 3% 6%;
}

/* form */
.form {
  margin-top: 0;
  background-color: #fff;
}

.form-navbar {
  padding: 0%;
}

.form-content {
  margin-top: 1rem;
}

.form-row {
  margin: 2rem 0;
}

.button-container {
  text-align: center;
  padding-bottom: 2rem;
}

.button-container > .btn {
  margin: 0 1rem;
}

/* override */

.input-group1 {
  padding: 0 1rem;
}
.input-group2 {
  padding: 0 1rem;
}
.input-group3 {
  padding: 0 1rem;
}

/* media queries */
@media only screen and (max-width: 425px) {
  .input-group {
    margin-top: 1rem;
  }
}
